# Print Function

In [1]:
print("Hello World!")

Hello World!

# Comment

In [2]:
# print("Hello World!")

# Data Type
資料型態，有以下幾種
>1.數值Numbers<br>
>2.字串String<br>
>3.布林與邏輯判斷<br>
>4.串列List-（有序，但資料可隨時改變）<br>
>5.元組Tuple- （有序且資料不能改變）<br>
>6.字典Dictionary- （資料是無序的key value集合，資料是有結構化的）<br>
>7.集合Set-（無序不重覆的資料）

In [3]:
name = "小明"
print(name)

b = 1
c = 2
a = b+c
print(a)
print(type(name))
print(type(a))

小明
3
<class 'str'>
<class 'int'>

In [4]:
print(type(10))

<class 'int'>

In [5]:
print(type(12.5))

<class 'float'>

In [6]:
print(type(True))

<class 'bool'>

# Numbers

In [7]:
num="123"
print(int(num))

123

In [8]:
num2 = 456
print(str(num2))

456

In [9]:
num = 3
num2 = "4"
print(num + num2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# String

In [10]:
name = "Ray"
print(f"My name is {name}.")

My name is Ray.

In [11]:
name="小明"
age=10
money=20.5
message='我是 %s , 年齡 %d , 我身上有 %f 的錢' % (name,age,money)
print(message)

我是 小明 , 年齡 10 , 我身上有 20.500000 的錢

>如果字串內容為了使輸出畫面美觀必須跨越數行，可使用連續三個'單引號或"雙引號：

# Boolean

In [12]:
a = 15<10 and 15<7
print(a)

False

In [13]:
name = True
age = False
print(name)
print(age)

True
False

# List

In [14]:
a = [1, 2.2, 'python',["hello",20]] #資料類型可以不同，但索引位置是從0開始, 萬用變數
# 具有索引。長度可變動。
print(a)
print(a.index(["hello",20])) #看索引位置是多少

#先列出全台有數學系的大學，再用迴圈找出那些國立大學有數學系
school = ['國立清華大學','國立臺灣大學','國立臺灣師範大學','國立成功大學','國立中興大學','國立陽明交通大學','國立中央大學','國立中山大學','國立中正大學','國立高雄師範大學','國立彰化師範大學','國立嘉義大學','國立高雄大學','國立東華大學','國立臺東大學','國立臺南大學','國立屏東大學','東海大學','輔仁大學','東吳大學','中原大學','淡江大學','逢甲大學']
print(school[0])

school.insert(0,'國立政治大學')
school.append('臺北市立大學')
print(school)

#那些學校有那些數學系,那些學校數學系已滅亡
#school.pop(3) #刪除第三元素
#print(school)

[1, 2.2, 'python', ['hello', 20]]
3
國立清華大學
['國立政治大學', '國立清華大學', '國立臺灣大學', '國立臺灣師範大學', '國立成功大學', '國立中興大學', '國立陽明交通大學', '國立中央大學', '國立中山大學', '國立中正大學', '國立高雄師範大學', '國立彰化師範大學', '國立嘉義大學', '國立高雄大學', '國立東華大學', '國立臺東大學', '國立臺南大學', '國立屏東大學', '東海大學', '輔仁大學', '東吳大學', '中原大學', '淡江大學', '逢甲大學', '臺北市立大學']

In [15]:
a = [1, 2.2, 'python',["hello",20]] #資料類型可以不同，但索引位置是從0開始, 萬用變數
# 具有索引。長度可變動。
print(a)
print(a.index(["hello",20])) #看索引位置是多少

#先列出全台有數學系的大學，再用迴圈找出那些國立大學有數學系
school = ['國立清華大學','國立臺灣大學','國立臺灣師範大學','國立成功大學','國立中興大學','國立陽明交通大學','國立中央大學','國立中山大學','國立中正大學','國立高雄師範大學','國立彰化師範大學','國立嘉義大學','國立高雄大學','國立東華大學','國立臺東大學','國立臺南大學','國立屏東大學','東海大學','輔仁大學','東吳大學','中原大學','淡江大學','逢甲大學']
print(school[0])

school.insert(0,'國立政治大學')
school.append('臺北市立大學')
print(school)

#那些學校有那些數學系,那些學校數學系已滅亡
school.pop(3) #刪除第三元素
print(school)

[1, 2.2, 'python', ['hello', 20]]
3
國立清華大學
['國立政治大學', '國立清華大學', '國立臺灣大學', '國立臺灣師範大學', '國立成功大學', '國立中興大學', '國立陽明交通大學', '國立中央大學', '國立中山大學', '國立中正大學', '國立高雄師範大學', '國立彰化師範大學', '國立嘉義大學', '國立高雄大學', '國立東華大學', '國立臺東大學', '國立臺南大學', '國立屏東大學', '東海大學', '輔仁大學', '東吳大學', '中原大學', '淡江大學', '逢甲大學', '臺北市立大學']
['國立政治大學', '國立清華大學', '國立臺灣大學', '國立成功大學', '國立中興大學', '國立陽明交通大學', '國立中央大學', '國立中山大學', '國立中正大學', '國立高雄師範大學', '國立彰化師範大學', '國立嘉義大學', '國立高雄大學', '國立東華大學', '國立臺東大學', '國立臺南大學', '國立屏東大學', '東海大學', '輔仁大學', '東吳大學', '中原大學', '淡江大學', '逢甲大學', '臺北市立大學']

# Tuple

In [16]:
t = (5,'program', 1+3j) #  t[0] = 5 ,t[1] = 'program'

print("t[1] = ", t[1])

print("t[0:2] = ", t[0:2])

t[1] =  program
t[0:2] =  (5, 'program')

# Dictionary

In [17]:
dict = {'新北市': 4047095, '台中市':2863285, '高雄市': 2729670, '台北市': 2480881, '桃園市':2341566, '台南市':1858302}
print(dict)
print(dict['新北市'])
print(dict['高雄市'])
max_key = max(dict, key=dict.get)
print(max_key)
print(dict[max_key]) #取出人口最多的key value

{'新北市': 4047095, '台中市': 2863285, '高雄市': 2729670, '台北市': 2480881, '桃園市': 2341566, '台南市': 1858302}
4047095
2729670
新北市
4047095

# for 迴圈

In [18]:
name="123456"
for x in name:
    print(x)

1
2
3
4
5
6

In [19]:
for num in range(5):
    print("目前num是",num)
    if (num ==2):
        print("目前判斷已經遇到2,要中斷程式執行")
        break
    print(num)

目前num是 0
0
目前num是 1
1
目前num是 2
目前判斷已經遇到2,要中斷程式執行

In [20]:
name="123456"
for x in name:
    if x=='5':
        break
    print(x)

1
2
3
4

# while 迴圈

In [21]:
i=0
while i <10:
    print("hello")
    i= i+1 #如果不利用i來設定終止條件，會造成無限循環
    print('我已經跑了第%d次' %(i))

hello
我已經跑了第1次
hello
我已經跑了第2次
hello
我已經跑了第3次
hello
我已經跑了第4次
hello
我已經跑了第5次
hello
我已經跑了第6次
hello
我已經跑了第7次
hello
我已經跑了第8次
hello
我已經跑了第9次
hello
我已經跑了第10次

# if 判斷式

In [22]:
print(len(school))
for i in school:
     if(i[0:2]) == '國立' :
        print(i)

24
國立政治大學
國立清華大學
國立臺灣大學
國立成功大學
國立中興大學
國立陽明交通大學
國立中央大學
國立中山大學
國立中正大學
國立高雄師範大學
國立彰化師範大學
國立嘉義大學
國立高雄大學
國立東華大學
國立臺東大學
國立臺南大學
國立屏東大學

In [23]:
index=0
while index < len(school):
    num=school[index]
    if num[0:2] != '國立' :
        print('索引位置',index,'私立學校刪除')
        school.pop(index) #刪除
    else:
        print(num)
    index=index+1

國立政治大學
國立清華大學
國立臺灣大學
國立成功大學
國立中興大學
國立陽明交通大學
國立中央大學
國立中山大學
國立中正大學
國立高雄師範大學
國立彰化師範大學
國立嘉義大學
國立高雄大學
國立東華大學
國立臺東大學
國立臺南大學
國立屏東大學
索引位置 17 私立學校刪除
索引位置 18 私立學校刪除
索引位置 19 私立學校刪除
索引位置 20 私立學校刪除

# method & function 函數

In [24]:
def say():  #定義say函數
    print("hello world") #此行為函數內容
say() #呼叫函數名稱

hello world

In [25]:
def add(x,y): #定義add函數
    z = x+y
    print(z)
add(1,2) #呼叫add函數

3

In [26]:
def add(x,y): #定義add函數，傳入參數x,y
    z = x+y
    return z #傳回一個值
result = add(1,2) #要反回一個值Z，實際上這個傳回的值就是x+y
print (result)

3

In [27]:
def user_inf(name, age, gender):
    print(f"你的名字是{name},年齡{age},性別{gender}")
user_inf('小明',10,gender='第三性')

你的名字是小明,年齡10,性別第三性

In [28]:
def user_inf(*args): #此*代表是形式參數，表示資料透過 tuple的方式接收參數
    print(args)

user_inf('小明',10,'男')

('小明', 10, '男')

# Class

In [29]:
class CarA:
    def drive(self, distance):
        fuel_needed = distance
        remaining_fuel = 100 - fuel_needed
        print("A 車行駛了 ",distance,"公里，剩餘油量：",remaining_fuel )

class CarB:
    def drive(self, distance):
        fuel_needed = distance * 0.8 
        remaining_fuel = 100 - fuel_needed
        print ("B 車行駛了",distance ,"公里，剩餘油量：",remaining_fuel  )

car_a = CarA()
car_b = CarB()

car_a.drive(100) 

car_b.drive(100)
#A 車行駛了  100 公里，剩餘油量： 0
#B 車行駛了 100 公里，剩餘油量： 20.0

A 車行駛了  100 公里，剩餘油量： 0
B 車行駛了 100 公里，剩餘油量： 20.0

In [30]:
# import 模組

In [31]:
!ls -al
!cat custom_model.py

total 124
drwxrwxrwx. 9 root  root   4096 Apr 21 11:38 .
drwxr-xr-x. 1 root  root     33 Dec 28 13:46 ..
drwxr-xr-x. 6 coder coder  4096 Apr 21 10:36 .cache
drwxr-xr-x. 3 coder coder  4096 Apr 21 09:17 .config
-rw-r--r--. 1 coder coder   118 Apr 21 11:22 custom_model.py
-rw-------. 1 coder coder 65536 Apr 21 09:17 filebrowser.db
drwxr-xr-x. 2 coder coder  4096 Apr 21 11:38 .ipynb_checkpoints
drwxr-xr-x. 3 coder coder  4096 Apr 21 09:54 .ipython
drwxr-xr-x. 3 coder coder  4096 Apr 21 09:54 .jupyter
drwxr-xr-x. 5 coder coder  4096 Apr 21 09:17 .local
-rw-r--r--. 1 coder coder  2984 Apr 21 11:29 note.ipynb
drwxr-xr-x. 2 coder coder  4096 Apr 21 11:15 __pycache__
-rw-r--r--. 1 coder coder 23751 Apr 21 11:38 python基礎.ipynb
-rw-r--r--. 1 coder coder   103 Apr 21 11:24 spam.py
-rw-r--r--. 1 coder coder   180 Apr 21 09:17 .wget-hsts
def plus(a, b):
    res1 = a + b
    print(res1)

def minus(x, y):
    res2 = x - y
    print(res2)

print("你好~~")

In [32]:
%run custom_model.py

你好~~

In [33]:
from custom_model import *

print(minus(100, 68))
print(plus(2, 3))

你好~~
32
None
5
None